POSTGRES_DB=beauty_advisor
POSTGRES_USER=beauty_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

MONGO_DB=beauty_advisor
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=change_me
MONGO_PORT=27017

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change_me
PGADMIN_PORT=5050

MONGO_EXPRESS_USER=admin
MONGO_EXPRESS_PASSWORD=change_me
MONGO_EXPRESS_PORT=8081

PORTAINER_PORT=9000